<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost:9001" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="mySqlDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/ppr_db_head" />
		<property name="username" value="ppru" />
		<property name="password" value="pprupwd" />
	</bean>

	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="mySqlDataSource" />
		<property name="mappingResources">
			<list>
				<value>product.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
			</value>
		</property>
	</bean>

	<!-- DAO / Services -->

	<!-- Exception translation bean post processor -->
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="timelineDAOService" class="org.wm.timebox.service.TimelineDAOServiceImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="myTxManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<aop:config>
		<aop:pointcut id="timelineServiceMethods"
			expression="execution(* org.wm.timebox.service.TimelineDAOService.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="timelineServiceMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="myTxManager">
		<tx:attributes>
<!-- 			<tx:method name="increasePrice*" propagation="REQUIRED" />
			<tx:method name="someOtherBusinessMethod" propagation="REQUIRES_NEW" />  -->
			<tx:method name="*" propagation="REQUIRED" read-only="false" />
		</tx:attributes>
	</tx:advice>
	<!-- Screens & Activities -->

	<bean id="timelineScreen" class="org.wm.timebox.app.screen.timeline.TimelineScreen"
		init-method="init">
		<property name="activity">
			<bean parent="activity">
				<property name="controller">
					<bean class="org.wm.timebox.app.screen.timeline.TimelineController"
						parent="controller" />
				</property>
				<property name="view">
					<bean class="org.wm.timebox.app.screen.timeline.TimelineView"
						parent="view" />
				</property>
			</bean>
		</property>
	</bean>



</beans>
